*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Scroll fluide pour les ancres */
html {
    scroll-behavior: smooth;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: var(--font-sans);
    background-color: var(--v-dark);
    color: var(--light-v);
    line-height: 1.4;
    margin: 0;
    padding: 0;
    padding-right: var(--spc-margin);
    padding-left: var(--spc-margin);
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

a {
    color: var(--vi);
}

a:hover {
    border-bottom-color: var(--yellow);
}

h3 {
    padding-top: var(--space-sm);
    padding-bottom: var(--space-sm);
}

.partenaires-intro {
    display: flex;
    align-items: center;
    gap: var(--spc-s);
}

button,
input,
select,
textarea {
    appearance: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}