/* colors */
:root {

/* color */
    --dark: #523e5c;
    --light-v: #d9c6e2;
    --v-dark: #15101c;
    --vi: #8e4de4;
    --yellow: #fff674;


/* typo */
    --font-sans: "Mohave", sans-serif;

/* font-size */
    --font-size-md: 1.25rem;
    --font-size-h2: 2rem;
    --font-size-h1: 4rem;

/* space */
    --spc-s: 0.5rem;
    --spc-ss: 1.25rem;
    --spc-margin: 2.1875rem;
    --space-sm: 5rem;
    --spc-mid: 7.25rem;
    --spc-lg: 12.5rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-sans);
    background-color: var(--v-dark);
    color: var(--light-v);
    line-height: 1.4;
}

.u-list-unstyled {
    list-style: none;
}