.footer {
    background-color: var(--dark);
    padding-top: var(--spc-ss);
    padding-bottom: var(--spc-ss);
    
}

.footer__link {
    position: center;
    color: var(--light-v);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--spc-ss);
    padding-bottom: var(--spc-ss);
    border-top: 1px solid var(--dark);
    text-decoration: none;
}

.footer__link--rs {
    display: flex; 
    justify-content: center;
    align-items: center;
    color: var(--yellow);
}
