.footer {
    background-color: var(--dark);
    padding-top: var(--spc-ss);
    padding-bottom: var(--spc-ss);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(-1 * var(--spc-margin));
    margin-right: calc(-1 * var(--spc-margin));
}

.footer__link {
    color: var(--light-v);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--spc-ss);
    padding-bottom: var(--spc-ss);
    border-top: 1px solid var(--dark);
    text-decoration: none;
}

.footer__list--rs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.footer__link--rs {
    color: var(--yellow);
    text-decoration: none;
    padding-top: var(--spc-s);
}

.footer__logo {
    height: 150px;
    width: auto;
}