.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 35px;
    width: 100% !important;
    max-width: 100vw;
    box-sizing: border-box;
    background-color: var(--v-dark );
    background: rgba(21, 16, 28, 0.35);
    backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    z-index: 9999;
}

.header__link,
.header__logo,
.menu-btn {
    max-width: 100%;
}

.header__logo {
    max-width: 120px;
    height: auto;
    width: auto;
} 

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
}

