.header {
    position: fixed;
    left: 0;
    width: 100%;
    height: 124px;
    padding: var(--spc-margin) var(--spc-margin);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--v-dark );
    background: rgba(21, 16, 28, 0.35);
    backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    z-index: 9999;
}

.header__logo {
    width: 125px;
    height: auto;
} 

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
}

