.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 35px;
    width: 100% !important;
    max-width: 100vw;
    box-sizing: border-box;
    background-color: var(--v-dark );
    background: rgba(21, 16, 28, 0.35);
    backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    z-index: 9999;
}

.header__link,
.header__logo,
.menu-btn {
    max-width: 100%;
}

.header__logo {
    max-width: 120px;
    height: auto;
    width: auto;
} 

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-btn[aria-expanded="true"] {
    .menu-btn__bar--top {
        transform-origin: 14px -2px;
        transform: rotate(-135deg);
        background: var(--light);
    }

    .menu-btn[aria-expanded="true"] 
        .menu-btn__bar--mid {
    opacity: 0;
    transform: scaleX(0);
    }

    .menu-btn__bar--bottom {
        transform-origin: 22px 4px;
        transform: rotate(-45deg);
        background: var(--light);
    }
}