.home__hero {
    background-image: url(/assets/img/home/accueil-hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.home__hero--image {
    display: none;
}

.home__hero--logo {
    width: 80%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
}

.hero__dates {
    margin-top: 1rem;
}