
.menu-btn {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: 35px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    padding: 0;
}

.menu-btn__bar {
    background-color: var(--light-v);
    height: 2px;
    width: 35px;
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
    display: block;
}

.menu-btn__bar--top {
    top: 0;
}

.menu-btn__bar--mid {
    top: 11px;
}

.menu-btn__bar--bottom {
    bottom: 0;
}

@media (min-width: 768px) {
    .header {
        padding: 1rem 35px;
    }
}

.menu-btn[aria-expanded="true"] .menu-btn__bar--top {
    transform-origin: center;
    transform: rotate(45deg);
    top: 11px;
    background-color: var(--light-v)
}

.menu-btn[aria-expanded="true"] .menu-btn__bar--mid {
    opacity: 0;
    transform: scaleX(0);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar--bottom {
    transform-origin: center;
    transform: rotate(-45deg);
    bottom: 11px;
    background-color: var(--light-v)
}

