@import "vendors/normalize.css";
@import "vendors/filtre.css";

@import "utils/variables.css";

@import "base/main.css";
@import "base/media.css";

@import "layout/section.css";
@import "layout/header.css";
@import "layout/footer.css";

/*composants*/
@import "components/carousel.css";
@import "components/home-hero.css";
@import "components/hero.css";
@import "components/ancre.css";
@import "components/menu.css";
@import "components/hero-home.css";
@import "components/ornement.css";
@import "components/bouton.css";
@import "components/error-404.css";
@import "components/faq.css";
@import "components/contact-form.css";